<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
</head>
<body>
    <table align="center">
        <tr>
            <td width="30%">이름</td>
            <td width="70%" class="contents-css">배서윤</td>
        </tr>
        <tr>
            <td>생년월일</td>
            <td class="contents-css">1982.06.15</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td class="contents-css">--<!--js8206@naver.com--></td>
        </tr>
        <tr>
            <td>Education</td>
            <td class="contents-css">
                - 경인여자대학 전산학과 2001.03~2003.02 졸업<br>
                - 서울사이버대학교 컴퓨터공학 2003.03~2006.08 졸업<br>
                - 경기광문고등학교 1998.03~2001.02 졸업
            </td>
        </tr>
        <tr>
            <td>자격/어학</td>
            <td class="contents-css">
                - 정보처리기사 2005.06.13 (한국산업인력공단)<br>
                - 정보처리산업기사 2002.06.03 (한국산업인력공단)
            </td>
        </tr>
        <tr>
            <td>경력사항</td>
            <td class="contents-css">
                - 지앤비넷 개발팀 2005.02.01-2007.07.31<br>
                - 아인 개발팀 2004.02.01-2005.01-31<br>
                - 두올테크 개발팀 2002.11.01-2003.12.31
            </td>
        </tr>
        <tr>
            <td>Skill</td>
            <td class="contents-css">
                - Asp, Asp.Net<br>
                - MS-SQL, Oracle
            </td>
        </tr>
    </table>
</body>
</html>